$background-color-1: white;
$background-color-2: #fafafa;
$border: 1px solid #eeeeee;
$border-radius: 4px;
$font-family: "Lato", Arial, Helvetica, sans-serif;
$green: #03a84e;
$line-height: 24px;
$text-black: #373737;
$text-gray: #9c9aa6;

$icon-size-sm: 20px;
$icon-size-l: 45px;

$font-size-xxs: 11px;
$font-size-xs: 13px;
$font-size-sm: 16px;
$font-size-m: 20px;
$font-size-l: 30px;

$spacing-size-a: 5px;
$spacing-size-b: 10px;
$spacing-size-c: 15px;
$spacing-size-d: 20px;
$spacing-size-e: 30px;

@mixin card {
  background: #ffffff;
  border: $border;
  box-sizing: border-box;
  border-radius: $border-radius;
  margin: $spacing-size-b;
  padding: $spacing-size-d;
}

@mixin categoryCard {
  @include flexCenter(column);
  @include card();
  cursor: pointer;

  i {
    color: $green;
    font-size: $icon-size-l;
    margin: $spacing-size-c;
  }

  p.article-count {
    color: $green;
    margin: $spacing-size-c 0 0 0;
  }

  p.sub-text {
    margin: 0 0 $spacing-size-e 0;
  }
}

@mixin flex($direction) {
  @include flexDirection($direction);
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flexAlignItems($direction) {
  -ms-align-items: $direction;
  -webkit-align-items: $direction;
  flex-direction: $direction;
}

@mixin flexCenter($direction) {
  @include flex($direction);
  @include flexAlignItems(center);
  @include flexJustifyContent(center);
}

@mixin flexDirection($direction) {
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flexJustifyContent($value) {
  -ms-justify-content: $value;
  -webkit-justify-content: $value;
  justify-content: $value;
}

@mixin flexValue($value) {
  -ms-flex: $value;
  -webkit-flex: $value;
  flex: $value;
}

@mixin flexWrap() {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@mixin icon {
  color: $green;
  font-size: $icon-size-sm;
  margin: $spacing-size-b;
  padding: $spacing-size-b;
  margin: 0;
}

@mixin normalFont() {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: $line-height;
  margin: 0;
  padding: 0;
}

@mixin title {
  @include normalFont();
  font-size: $font-size-m;
}

@mixin subText {
  @include normalFont();
  color: $text-gray;
  font-size: $font-size-xs;
}
